<div class="container w-full flex flex-col text-center">
  <%= form_with model: @bill, url: category_bills_url, method: :post do |f| %>
    <div class="mb-3 flex flex-col w-full">
      <%= f.text_field :name, placeholder: "Item name", class: "form-inputs" %>
      <div class="gray-bar"></div>
      <%= f.text_field :amount, placeholder: "Amount", class: "form-inputs" %>
    </div>
    <%= f.submit "Add Item", class: "btn-primary" %>
  <% end %>
</div>
